.c-paragraph {
  font-family: $font-family-serif;
  position: relative;
  font-size: $font-size-40;
  line-height: 1.75;

  &--spacing {
    margin-bottom: $spacing;
  }

  &--no-spacing {
    margin-bottom: 0;
  }

  &--light {
    color: $color-white;
  }
}
